@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-4"><h1 class="logo negative-text-indent"></h1></div>
        <div class="col-md-8">
            <h2>Project Description</h2>
            <p>
                The project is designed to manage a list of products and its catalog.
                <br />The application is developed in ASP.NET, that is:
            </p>
            <ul>
                <li>MVC</li>
                <li>Entity Framework</li>
                <li>LINQ</li>
            </ul>
        </div>
    </div>

</div>